.front_card {
    position: relative;
   
}

.code_txt_p {
    color: #aca09e;
    z-index: 1;
    font-size: 1.2rem;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    margin: 4%;
}

.img_front_card {
    position: relative;
}

.codes_info {
    position: absolute;
    top: 60%;
    right: 5%;
    width: 50%;
    justify-content: center;
}


