* {
    margin: 0;
    padding: 0;
}

main {
    background-size: cover;
    height: 100%;
}

input {
    width: 100%;
}

.main_container {
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
    background-image: url("/src/pages/recharge/searchCardScreen/public/rain_background.svg");
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_card_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 20%;
    padding: 3%;
    background: linear-gradient(rgb(53, 53, 53), black);
    height: fit-content;
    border-radius: 50px;
}

.search_card_section {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-bottom: 16%;
}

.card_example {
    width: 50%;
    height: 50%;
}

h1, p {
    color: white;
    font-family: 'Jost', sans-serif;
}

#pass_number {
    width: 70vh;
    height: 3rem;
    font-size: 1.9rem;
    color: black;
    margin-top: 3%;
    padding: 10px;
    border-radius: 12px;
    border-color: black;
}

.search {
    width: fit-content;
    border: 4px solid white;
    border-radius: 10px;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.btn_search_pass{
    float: left;
    font-size: 2rem;
    color: white;
    transition-duration: 0.5s;
}

.btn_search_pass:hover{
    opacity: 0.7;
    transition-duration: 0.5s;
}

img.btn_search_pass {
    width: 15%;
    height: 100%;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}

.txt_search_fail {
    color: red;
    display: none;
}